// Add your custom CSS here.
.top-bar {
  background: #000;
}
#header {
  background: #fff;
}
#user-button i, #cart-button i, .header__search-btn i, .header__toggler i, .menu__btn.btn.collapsed, .menu__btn--close {
  color: #000
}
#cart-count {
  background: #000;
}
.top-bar a, .top-bar svg {
  color: #fff
}
.top-bar .container-fluid .row {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}
@media  screen and (min-width: 1368px) {

}

//desktop normal size
@media  screen and (min-width: 992px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {

}
// apenas mobile
@media screen and (max-width: 480px) {
#footer-pages {
  display: block
}
}
.header__nav a {
  padding-right: 1rem;
}
@font-face {font-family: "Gotham Rounded Medium";
  src: url("/font-mobi.eot"); /* IE9*/
  src: url("/font-mobi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/font-mobi.woff2") format("woff2"), /* chrome、firefox */
  url("/font-mobi.woff") format("woff"), /* chrome、firefox */
  url("/font-mobi.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/font-mobi.svg#Gotham Rounded Medium") format("svg"); /* iOS 4.1- */
}

body, h4, h3, h2, h1, h5, h6, li, ul, a, b, strong, em, span {
    font-family:"Gotham Rounded Medium" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#product-description .container {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.footer {
  background: #000;
  color: #fff;
}
.footer h2, .footer a, .footer__title, .footer__social, .footer__social .fa-facebook, .footer__social .fa-instagram {
  color: #fff;
}
.footer__social .fa-facebook, .footer__social .fa-instagram {
  font-size: var(--font-size-lg)
}
.collection-shelf .product-card__name, .collection-shelf .product-card__prices, .category-retail .product-card__name, .category-retail .product-card__prices, .page--search .product-card__name, .page--search .product-card__prices {
  text-align: center;
}
#page-pages\/sobre .extra-page .container {
  max-width: 100% !important;
  width: 100%
}
.variations__grid--modelo option:disabled {
  display: none;
}
.fa-shopping-bag::before {
    content: "\e802" !important;
}
.fa-user::before {
    content: "\e806" !important;
}
.fa-search::before {
    content: "\e80a" !important;
}
.fa-bars::before {
    content: "\e818" !important;
}
.fa-chevron-right::before {
    content: "\e80e" !important;
}
.fa-chevron-left::before {
    content: "\e80d" !important;
}
.fa-chevron-up::before {
    content: "\e80b" !important;
}
.fa-whatsapp::before {
    content: "\e844" !important;
}
.fa-instagram::before {
    content: "\e843" !important;;
}
.fa-facebook::before {
    content: "\e83b" !important;;
}
